version: 2.1

orbs:
    aws-cli: circleci/aws-cli@5.1.1
    aws-s3: circleci/aws-s3@4.1.0

jobs:
    build-deploy-s3:
        docker:
            - image: cimg/python:3.13-node
        steps:
            # Checkout branch
            - checkout

            # Install NPM dependencies
            - restore_cache:
                  key: npm-{{ checksum "package.json" }}
            - run: npm ci
            - save_cache:
                  key: npm-{{ checksum "package.json" }}
                  paths:
                      - node_modules

            # Build production files
            - run: npm run build

            # Authenticate at AWS
            - aws-cli/setup

            # Upload files to AWS S3
            - aws-s3/sync:
                  from: dist
                  to: "s3://gh-hackerdesktop"
                  arguments: "--delete"

workflows:
    deploy:
        jobs:
            - build-deploy-s3:
                  filters:
                      branches:
                          only:
                              - master
