version: 2.1

orbs:
    aws-cli: circleci/aws-cli@5.4.1
    aws-s3: circleci/aws-s3@4.1.3

jobs:
    build:
        docker:
            - image: cimg/node:22.21.0
        steps:
            # Checkout branch
            - checkout

            # Install dependencies using NPM
            - restore_cache:
                  key: npm-{{ checksum "package.json" }}
            - run: npm ci
            - save_cache:
                  key: npm-{{ checksum "package.json" }}
                  paths:
                      - node_modules

            # Build app
            - run: npm run build

            # Persist build output for deploy step
            - persist_to_workspace:
                  root: .
                  paths:
                      - dist
    deploy-s3:
        docker:
            - image: cimg/python:3.14
        steps:
            # Restore build output workspace
            - attach_workspace:
                  at: .

            # Authenticate at AWS
            - aws-cli/setup

            # Upload files to AWS S3
            - aws-s3/sync:
                  from: dist
                  to: "s3://gh-hackerdesktop"
                  arguments: "--delete"

workflows:
    build-deploy:
        jobs:
            - build
            - deploy-s3:
                  requires:
                      - build
                  filters:
                      branches:
                          only:
                              - master
