/**
 * HackerDesktop | hacker code typer style
 */

@use "./variables.scss" as vars;

#hackerCodeView {
    width: 100vw;
    height: 100vh;

    color: vars.$hacker-green;
    font-family: monospace;
}
