/**
 * HackerDesktop | app style
 */

html, body {
    height: 100vh;

    margin: 0;
}

body {
    background-color: black;
}

#moduleLauncher {
    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;

    width: 15vw;

    background-color: #00ff00;

    text-align: center;

    font-family: monospace;
}

#moduleLauncher > p {
    padding: 5px;
}

.green-text {
    color: #00ff00;
}

.red-text {
    color: #ff0000;
}
